#margine{
    margin-left: 20%;
    margin-top: 20%;
    font-size: 40pt;
}

#margine2{
    margin-left: 30%;
    margin-top: 5%;
    font-size: 35pt;
}

.accountInput{
    width: 60%;
    height: 50px;
    font-size: 30pt;
    margin-top: 3%;
    margin-bottom: 3%;
}

#saveButton{
    width: 25%;
    height: 60px;
    font-size: 25pt;
    margin-top: 4%;
}

body{
    background-color: #72B01D;
}

  * {
    margin: 0px;
  }s
