* {
    padding: 0;
    margin: 0;
}

.imageSize {
    display: block;
    height: 100px;
    width: 100px;
    margin-left: auto;
    margin-right: auto;
}

.imageSize2 {
    display: block;
    height: 190px;
    width: 190px;
    margin-left: auto;
    margin-right: auto;
}

.gridBox {}

.itemImage{
    width:250px;
    height: 250px;
    border: black 1px solid;
    
}
.bigText{
    font-size: 20px;
    font-weight: bold;
}

#index1{
margin: 0;
}
#index2{
    margin: 0;
}
#index3{
    margin: 0;
}
#index4{
    margin: 0;
}
#index5{
    margin: 0; 
}
#index6{
    margin: 0;
}

#cartCount1{
    width:30px;
    height:30px;
    margin-top: -32px;
    margin-left: 94%;
    position: absolute;
    text-align: center;
    font-size: 180px;
    color: red;
    
}

#background {
    background-color: #f3eff5;
}

#mainGrid {
    display: grid;
    grid-template-rows: auto 0vh 35vh auto;
}

#categoriesBarGrid {
    grid-row-start: 2;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    text-align: center;
    align-content: center;
}

#iconCategoriesGrid {
    grid-row-start: 3;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-content: center;
    height: auto;
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRyFbb7YsDlr_nwgH7UHaNYIxIErwjN1cMdJA&usqp=CAU");
    background-repeat: no-repeat;
    background-size: cover;
    border: black 1px solid;
}

#carouselExampleIndicators {
    width: 340px;
    height: 250px;
    grid-column: 2;
   margin-bottom: 10px;
    margin-right: auto;
    margin-left: auto;
    display: block;
   
}

.border{
    border: solid black 1px;
}

.rightCategory{
    width: 380px;
    height: 250px;
    margin-right: auto;
    margin-left: auto;
    display: block;
    border-radius: 10px;
    margin-top: 2px;
   
}

.leftCategory{
    width: 380px;
    height: 250px;
    margin-right: auto;
    margin-left: auto;
    display: block;
    border-radius: 10px;
    margin-top: 2px;
    
}

#recommendedGrid {

    grid-row-start: 4;
    display: grid;
    grid-template-rows: 1fr 5fr;
}

#recommendedGridTop {
    Color: black;
    font-size: 30px;
    height: 50px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
}

#recommendedGridBottom {
    background-color: #f3eff5;
    display: grid;
    margin-left: auto;
    margin-right: auto;
    grid-gap: 80px;
    grid-template-columns: 1fr 1fr 1fr;
}

#footer {
    background-color: green;
    grid-row-start: 1;
    width: 100vw;
}

.topnav { 
    overflow: hidden;
    background-color:#3F7D20;
    position: relative;
}

.topnav a {
    float: left;
    display: block;
    color: #f3eff5;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.topnav a:hover {
    background-color: #3F7D20;
    color: black;
}

.topnav a.active {
    background-color: #3F7D20;
    color: white;
}

.topnav .icon {
    display: none;
}

.search-container {
    margin-top: 13px;
    margin-left: 3%;
    display: inline-block;
    width: 50%;
}

#searchBar {
    width: 83.5%;
}

#shoppingCartImage {
    width: 40px;
    float: right;
    margin-top: 4px;
    right: 6%;
}

#profileImage {
    width: 30px;
    float: right;
    right: 12%;
    margin-top: 9px;
}

@media screen and (max-width: 1061px) {
    .topnav a:not(:first-child) {
        display: none;
    }

    .topnav a.icon {
        float: right;
        display: block;
    }
    #carouselExampleIndicators {
    width: 240px;
    height: auto;
   margin-top: 15px;
}
.rightCategory{
    width: 220px;
    height: 180px;
    margin-top: 7px;
    
}

.leftCategory{
    width: 220px;
    height: 180px;
    margin-top: 7px;
}
}
    @media screen and (max-width: 555px) {
        .search-container {
            margin-left: 2%;
        }

        #shoppingCartImage {
            margin-top: 15px;
            width: 25px;
        }

        #profileImage {
            width: 19.25px;
            margin-top: 18px;
        }

        #thirdTableCell {
            width: 25%;

        }
    }


    @media screen and (max-width: 1061px) {
        .topnav.responsive {
            position: relative;
        }

        .topnav.responsive .icon {
            position: absolute;
            right: 0;
            top: 0;
        }

        .topnav.responsive a {
            float: none;
            display: block;
            text-align: left;
        }


        .topnav.responsive img {
            float: none;
            display: none;
            text-align: left;
        }

        .search-container.responsive {
            margin-bottom: 2%;
            width: 50%;
        }
    }