* {
    padding: 0;
    margin: 0;
}
.logo{
    display: none;
}
    


.imageSize {
    display: block;
    height: 100px;
    width: 100px;
    margin-left: auto;
    margin-right: auto;
}

.imageSize2 {
    display: block;
    height: 190px;
    width: 190px;
    margin-left: auto;
    margin-right: auto;
}


.itemImage{
    width:286px;
    height: 250px;
    border: black 1px solid;
    
}
.bigText{
    font-size: 20px;
    font-weight: bold;
}

#index1{
margin: 0;
}
#index2{
    margin: 0;
}
#index3{
    margin: 0;
}
#index4{
    margin: 0;
}
#index5{
    margin: 0; 
}
#index6{
    margin: 0;
}

#cartCount1{
    width:30px;
    height:30px;
    margin-top: -32px;
    margin-left: 94%;
    position: absolute;
    text-align: center;
    font-size: 180px;
    color: red;
    
}

#background {
    background-color: #f3eff5;
}

#mainGrid {
    display: grid;
    grid-template-rows: auto 0vh 35vh auto;
}

#categoriesBarGrid {
    grid-row-start: 2;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    text-align: center;
    align-content: center;
}

#iconCategoriesGrid {
    grid-row-start: 3;
    display: grid;
    grid-template-columns:  1fr 1fr 1fr;
    align-content: center;
    height: auto;
    background-image: url("https://media1.thehungryjpeg.com/thumbs2/ori_3622238_udk791lcr3yuhdcfvkmu6bgkgxg6bjddcld1ownb_summer-fields-landscape-cartoon-countryside-valley-with-green-hills-b.jpg");
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: cover;
    border: black 1px solid;
}

#carouselExampleIndicators {
    width: 380px;
    height: 230px;
    grid-column: 2;
   margin-bottom: 5px;
    margin-right: auto;
    margin-left: auto;
    display: block;
    border: black 1px solid;
    
}

.carousel{
    height: 230px;
    border-radius: 10px;
}

.border{
    border: solid black 1px;
}


.rightCategory{
    width: 380px;
    height: 230px;
    margin-right: auto;
    margin-left: auto;
    display: block;
    border-radius: 10px;
}


.modal-backdrop {
/* bug fix - no overlay */    
display: none;}

.leftCategory{
    width: 380px;
    height: 230px;
    margin-right: auto;
    margin-left: auto;
    display: block;
    border-radius: 10px;
   
    
}

#recommendedGrid {

    grid-row-start: 4;
    display: grid;
    grid-template-rows: 1fr 5fr;
}

#recommendedGridTop {
    Color: black;
    font-size: 30px;
    height: 50px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
}

#recommendedGridBottom {
    background-color: #f3eff5;
    display: grid;
    margin-left: auto;
    margin-right: auto;
    grid-gap: 80px;
    grid-template-columns: 1fr 1fr 1fr;
}

#footer {
    background-color: green;
    grid-row-start: 1;
    width: 100vw;
}


@media screen and (max-width: 1061px) {
    #carouselExampleIndicators {
    width: 220px;
    height: 180px;
   
}
.rightCategory{
    width: 220px;
    height: 180px;
    
    
}

.carousel{
    height: 180px;
   
    width: 220px;
}

.leftCategory{
    width: 220px;
    height: 180px;
    
}
#recommendedGridBottom {
    grid-gap: 40px;
    grid-template-columns: 1fr 1fr ;
    margin-bottom: -80%;
}

.btn-success{
    color: white;
}
#sort{
    font-size: 20px;
   
}
}
    @media screen and (max-width: 555px) {
        .logo{
            display: block;
            width: 230px;
            margin-right: auto;
            margin-left: auto;
            margin-top: 30px;
        }
  

        #thirdTableCell {
            width: 25%;

        }
        #recommendedGridBottom {
            grid-gap: 20px;
            grid-template-columns: 1fr;
            margin-bottom: -70%;
            font-size: 22px;
        }
        .bigText{
            font-size: 30px;
            font-weight: bold;
        }
        .btn{
            width:200px;
            height:50px;
            
        }
        #necklaceButton{
            font-size: 25px;
            color: white;
        }
        #recommendedGridTop {
            grid-template-columns: 1fr;
            display: grid;
            grid-gap: 10px;
            margin-left: auto;
            margin-right: auto;
        }
        #sort{
            font-size: 25px;
            color: white;
        }
        #iconCategoriesGrid {
            display: none;
        }
        #carouselExampleIndicators {
        display: none;
        }
  
        .rightCategory{
          display: none;
           
        }
        
        .leftCategory{
          display: none;
        }
    }
   

