.row{
    padding: 20px;
}
.largerText{
    font-size: 30px;
}
#image1{
    width:200px;
    height: 200px;
    border:solid black 4px;
    background-size: cover;
}
#image2{
    width:200px;
    height: 200px;
    border:solid black 4px;
}
#cartCount1{
    width:30px;
    height:30px;
    margin-top: -32px;
    margin-left: 94%;
    position: absolute;
    text-align: center;
    font-size: 20px;
    color: red;
    
}


.card-img-top{
    width: 200px;
    height: 200px;
}
.topnav {
  overflow: hidden;
  background-color: #4CAF50;
  position: relative;
}

.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav a.active {
  background-color: #4CAF50;
  color: white;
}

.topnav .icon {
  display: none;
}

  .search-container{
    margin-top: 13px;
    margin-left: 3%;
    display: inline-block;
    width: 50%;
  }

  #searchBar{
    width: 83.5%;
  }

  #shoppingCartImage{
    width: 40px;
    float: right;
    margin-top: 4px;
  }

  #profileImage{
    width: 30px;
float: right;
    right: 12%;
    margin-top: 9px;
  }

@media screen and (max-width: 1061px) {
  .topnav a:not(:first-child) {display: none;}
  .topnav a.icon {
    float: right;
    display: block;
  }


  @media screen and (max-width: 555px) {
    .search-container{
    margin-left: 2%;
  }

    #shoppingCartImage{
    margin-top: 15px;
    width: 25px;
  }

  #profileImage{
    width: 19.25px;
    margin-top: 18px;
  }

  #thirdTableCell {
            width: 25%;

        }
  }


@media screen and (max-width: 1061px) {
  .topnav.responsive {position: relative;}
  .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }


  .topnav.responsive img {
    float: none;
    display: none;
    text-align: left;
  }


  .search-container.responsive{
    margin-bottom: 2%;
    width: 50%;
  }
}
}